/* helpers/align.css */

.align {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* helpers/grid.css */

.grid {
  margin-left: auto;
  margin-right: auto;
  max-width: 320px;
  max-width: 20rem;
  width: 90%;
}

/* layout/base.css */

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 100%;
  height: 100%;
}

body {
  background-color: #61646d;
  color: #000;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  min-height: 100%;
}

/* modules/form.css */

::-webkit-input-placeholder {
  color: #42454e;
}

::-moz-placeholder {
  color: #42454e;
}

:-ms-input-placeholder {
  color: #42454e;
}

::placeholder {
  color: #42454e;
}

input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
}

input[type="search"] {
  appearance: textfield;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
          appearance: none;
}

.form__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.form__input {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

/* modules/search.css */

.search {
  background-color: #42454e;
  border-radius: .125rem;
  font-size: 12px;
  font-size: .75rem;
  padding: 8px;
  padding: .5rem;
}

.search input[type="search"],
.search input[type="submit"] {
  border-radius: .125rem;
}

.search input[type="search"] {
  background-color: #fff;
  color: #42454e;
  padding: 6px 8px;
  padding: .375rem .5rem;
}

.search input[type="submit"] {
  background-color: #1bba9a;
  color: #fff;
  font-weight: bold;
  margin-left: 8px;
  margin-left: .5rem;
  padding: 6px 10px;
  padding: .375rem .625rem;
}

.search input[type="submit"]:hover {
  background-color: #189e83;
}
