{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
	<title>TrackAmazon</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	{#	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">#}
	<link rel="stylesheet" href="{% static 'css/font-awesome/font-awesome.min.css' %}"/>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

	{#	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>#}
	<script type="text/javascript" src="{% static "js/bootstrap/bootstrap.min.js" %}"></script>

	<script type="text/javascript" src="{% static "js/fusioncharts/fusioncharts.js" %}"></script>
    <script type="text/javascript" src="{% static "js/fusioncharts/themes/fusioncharts.theme.fint.js" %}"></script>
	<link rel="stylesheet" href="{% static 'css/style.css' %}"/>

	{#	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">#}
	{#	<linl rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}"/>#}
	<link href="/static/css/bootstrap/bootstrap.min.css" rel="stylesheet">

</head>

<body>
<nav class="navbar">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">TrackAmazon</a>
		</div>
		<div class="collapse navbar-collapse" id="myNavbar">
			<ul class="nav navbar-nav" style="font-size: large">
				{% if Login == "True" %}
					<li><a href="/">Home</a></li>
				{% endif %}
				<li><a><i class="fa fa-twitter"></i></a></li>
				<li><a><i class="fa fa-facebook"></i></a></li>
				<li><a href="how-it-works">How it works?</a></li>
				<li><a href="contact">Developers</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				{% if Login == "True" %}
					<li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span>
						<span style="font-size: large">
							Logout
						</span></a>
					</li>
				{% else %}
					<li><a href="login"><span class="glyphicon glyphicon-log-in"></span>
						<span style="font-size: large">
							Login
						</span></a>
					</li>
				{% endif %}
			</ul>
		</div>
	</div>
</nav>

{% block body %}
{% endblock %}

</body>
</html>

