{% extends 'base.html' %}

{% block body %}
	<br/>
	<br/>

	<!-- Modal -->
	<div id="myModal" class="modal fade" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Set Alert For</h4>
				</div>
				<div class="modal-body">
					<div id="alertInner" style="padding-left:15px;">
           <span><h3>Price right now is </h3>

               <div class="radio"><input type="radio" name="alert_pref" value="email">&nbsp;Send mail to
                   <div class="input-group input-group-sm">
                       <span class="input-group-addon">
                           <i class="fa fa-envelope"></i></span>
                       <input type="email" name="alert_pref_email" required class="form-control">
                   </div>&nbsp;when price drops below
                   <div class="input-group input-group-sm"><span class="input-group-addon"><i
		                   class="fa fa-inr"></i></span>
                       <input type="text" name="alert_price" required class="form-control"></div>
               </div><span><div class="radio">
                   <input type="radio" name="alert_pref" value="none">&nbsp;Disable this alert</div>
                   <div align="right">
                       <form method="POST" action="/" class="form-group">
                   {% csrf_token %}
                      <button data-dismiss="modal" class="btn btn-danger">Close</button>
          <button ng-disabled="showAlertSave == false" ng-click="saveAlert()"
                  class="btn btn-success" name="save">Save</button></form></div>
               </span></span></div>
				</div>
			</div>
		</div>

	</div>
	<div align="center">
		<h2>Welcome to TrackAmazon {{ username }}</h2>
		<br>
		<h3>TrackAmazon can be used to keep track of price changes on <img
				src="http://media.corporate-ir.net/media_files/IROL/17/176060/img/logos/amazon_logo_RGB.jpg"
				width="120px">
		</h3>
		<br>
	</div>
	{% if Login == "True" %}
		<h3 style="text-align: center; color: #216e91">Enter page link for product you want to track below</h3>
		<br/>

		<div class="col-xs-2"></div>
		<div class="col-xs-8">
			<form method="POST" action="/" class="form-group">
				{% csrf_token %}

								{% for field in form %}
									<div class="input-group col-xs-12">
										{{ field }}
										<span class="input-group-btn">
								            <button class="btn btn-primary" name="url_submit" type="submit">Add to Watch List</button>
							            </span>
									</div>
								{% endfor %}

								{% for field in form.fields %}
									{% if field.errors %}
										<div class="alert alert-danger">
											{{ field.errors }}
										</div>
									{% endif %}
								{% endfor %}
			</form>
			<br>
			<br>

			<div class="dataToSort">
				{% for product in data %}
					<div class="row">
						<div class="col-md-2 itemImageBig">

							<a href=""
							   style="text-decoration:none;">
								<img src="{{ product.img_url }}">
							</a>
						</div>
						<div class="col-md-5">
							<b>
								<a href="" style="text-decoration:none;"></a>
							</b>
							<h4>{{ product.title }}</h4>
							<div>
								<br>
								<div class="text-muted very-small ng-binding">Updated {{ product.updated_at }}</div>
								<br>
								<div data-toggle="modal" data-target="#myModal"><a>Price Drop Notification</a>
									<span> | </span>
									<a href="">Price history</a>
									<span> | </span>
									<a href="">Stop tracking</a>
								</div>

							</div>
						</div>
						<div class="col-md-3">
							<i class="fa fa-inr"></i>{{ product.curr_price }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

							{% if "loss" in product %}
								{% if product.loss > 0 %}
									<i class="fa fa-inr"></i>
									<span><b>{{ product.loss }}</b></span>
									<span class="ng-hide">
										<i class="fa fa-chevron-down" style="color:green"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									</span>
								{% else %}
									<i class="fa fa-inr"></i>
									<span><b>{{ product.loss }}</b></span>
									<span ng-show="(itemJson.pd.diff) < 0" class="ng-hide">
										<i class="fa fa-chevron-left"></i><i class="fa fa-chevron-right"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									</span>
								{% endif %}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							{% else %}
								{% if product.profit > 0 %}
									<i class="fa fa-inr"></i>
									<span><b>{{ product.profit }}</b></span>
									<span class="ng-hide">
										<i class="fa fa-chevron-down" style="color:green"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									</span>
								{% else %}
									<i class="fa fa-inr"></i>
									<span><b>{{ product.profit }}</b></span>
									<span ng-show="(itemJson.pd.diff) < 0" class="ng-hide">
										<i class="fa fa-chevron-left"></i><i class="fa fa-chevron-right"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									</span>
								{% endif %}
							{% endif %}
						</div>
						<div class="col-md-2 text-center">
							<a href={{ product.product_url }} class="btn btn-success">Buy Now</a>
						</div>
					</div>
					<br>
				{% endfor %}

			</div>
			<hr>
		</div>
	{% else %}
		<br>
		<div align="center"><h2>Please <a href="login">login</a> to use app</h2></div>
	{% endif %}

{% endblock %}