{% extends 'base.html' %}

{% block body %}
	<br>
	<br>

	<form method="POST" action="">
		{% csrf_token %}
		<div class="input-group">
			<input type="text" class="form-control" id="url"
			       placeholder="Enter product link like https://www.amazon.in/Apple-iPhone-5s-Gold-16GB/dp/B00FXLCD38"
			       required>
			<span class="input-group-btn">
			    <button class="btn btn-primary" type="submit">Add to Watch List</button>
		    </span>
		</div>
		{% for field in form.fields %}
			<div>{{ field }}</div>
			{% if field.errors %}
				<div class="alert alert-danger">
					{{ field.errors }}
					lool
				</div>
			{% endif %}
		{% endfor %}
	</form>

	{% if "response" in res %}
		hi
	{% endif %}
{% endblock %}