{% extends 'base.html' %}

{% block body %}
	<div class="container-fluid text-center">
		<div class="row content">
			<div class="col-md-12 text-center">
				<h1>Please enter your login details below</h1>
				<hr>
				<form class="form-horizontal" action="/login" method="POST">
					{% csrf_token %}

					{% if error == "register" %}
						<h4>Please register before logging in</h4>
					{% endif %}
					{% for field, label in data %}
						<div class="form-group">
							<label class="control-label col-md-4">{{ label }}:</label>
							<div class="col-md-4">
								{{ field }}

								{% if label == "Email" and error == "email" %}
									<h4>Please enter proper email id</h4>
								{% endif %}
								{% if label == "Password" and error == "password" %}
									<span style="color: #ef3434">Please enter correct password</span>
								{% endif %}
							</div>
						</div>

					{% endfor %}

					<div class="form-group">
						<div class="col-md-offset-4 col-md-4">
							<div class="checkbox">
								<label><input type="checkbox"> Remember me</label>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-offset-4 col-md-4">
							<button type="submit" name="login" class="btn btn-primary" style="font-size: 17px">Login
							</button>
						</div>
					</div>

					<h2>
						<small> New User? <a href="register">Register here</a></small>
					</h2>
				</form>

			</div>

		</div>

{% endblock %}