{% extends 'base.html' %}

{% block body %}
	<div class="container-fluid text-center">
		<div class="row content">
			<div class="col-md-12 text-center">
				<h1>Please enter your details below</h1>
				<hr>

				<form class="form-horizontal">
					<div class="form-group">
						<label class="control-label col-md-4" for="name">Name:</label>
						<div class="col-md-4">
							<input type="name" class="form-control" id="name" placeholder="Enter your name" required="">
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-md-4">Qualification:</label>
						<div class="col-md-4">
							<input type="" class="form-control" id="qualification" placeholder="Eg. MBBS" required="">
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-md-4">Registration No.:</label>
						<div class="col-md-4">
							<input type="" class="form-control" id="email" placeholder="Eg. 12345" required="">
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-md-4" for="email">Email:</label>
						<div class="col-md-4">
							<input type="email" class="form-control" id="email" placeholder="Enter email" required="">
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-md-4" for="pwd">Password:</label>
						<div class="col-md-4">
							<input type="password" class="form-control" id="pwd" placeholder="Enter password"
							       required="">
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-offset-4 col-md-4">
							<button type="submit" class="btn btn-primary">Register</button>
						</div>
					</div>

				</form>
			</div>
		</div>

		<!-- <footer class="container-fluid text-center">
          <p>Footer Text</p>
        </footer>
        -->
{% endblock %}