{% extends 'base.html' %}
{% load staticfiles %}

{% block body %}
	<div align="center">
		<div class="about">
			<div><h2>Why this web site ?</h2></div>
			<h4>Inspired by a Digital Inspiration post this website hosts a simple <a
					href="https://www.amazon.in/">Amazon.In</a> price tracker. Hope this saves you some money.</h4>
		</div>
		<br>
		<div class="about">
			<div><h2>Which Stack?</h2></div>
			<h4>Built using <a href="https://www.djangoproject.com/">Django</a> framework,<a
				href="https://www.w3schools.com/css/"> CSS</a>,
			<a href="https://www.w3schools.com/html/">HTML</a> .
			</h4>
		</div>
		<br>
		<div class="about">
			<div><h2> How it Works?</h2></div>
			<div> <h4>To get started copy the exact product link from website and paste in the textbox on dashboard page.
				Try adding direct product page link and not the search page link.
			</h4>
			</div>
			<br>
			<img src="/static/images/copy.jpg" width="1200px">
		</div>
	</div>
{% endblock %}